{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="icon" type="image/png" href="static/favicon.png"> -->
<link rel="stylesheet" href="static/fom.css">
<script src="static/fom.js"></script>
<script src="static/fom_start.js"></script>
{% endblock %}

{% block title %}Flask Test{% endblock %}

<h1>SNIa FoM Estimator</h1>

{% block pagebody %}
<div name="pagebody" id="pagebody"></div>
{% endblock  %}
